<span>
  <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
      Add new staff member
  </button>
</span>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Staff member Registeration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <form #formElement="ngForm" (ngSubmit)="onAddStaff(formElement)" >
          <div class="input-group mb-3 ">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Name</span>
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="Username"
                aria-describedby="basic-addon1"
                id="name"
                ngModel
                name="name"
                required
                #name="ngModel"
              >
            </div>
            <span class="form-text text-muted" id="" *ngIf="name.invalid && name.touched">  * Please enter name</span>
            <div class="input-group mb-3 ">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Mobile number</span>
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="Username"
                aria-describedby="basic-addon1"
                id="mobile"
                ngModel
                name="mobile"
                required
                #mobile="ngModel"
              >
            </div>
            <span class="form-text text-muted" id="" *ngIf="mobile.invalid && mobile.touched">  * Please enter mobile number</span>

            <div class="input-group mb-3 ">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Salary</span>
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="Username"
                aria-describedby="basic-addon1"
                id="salary"
                ngModel
                name="salary"
                required
                #salary="ngModel"
              >
            </div>
            <span class="form-text text-muted" id="" *ngIf="salary.invalid && salary.touched">  * Please enter salary</span>

            <div class="modal-footer ">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button
                type="submit"
                class="btn btn-primary"
                >
                Submit
              </button>
            </div>
      </form>

    </div>
  </div>
</div>
